.wrapper {
    display: grid;
    grid-template-rows: 121px 60px auto 300px 311px;
    grid-template-areas: "shop-header" "info-bar" "app-content" "info-panel" "shop-footer";
    color: #cccccc;
}
body{
    background-color: #2f2f2f;
    font-family: 'Roboto Condensed', sans-serif;
}
#categories-dropdown{
    background-color: #2f2f2f;
    position: absolute;
    top:121px;
    margin-left: -450px;
}

.drop-cat{
    width:1800px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-items: center;
}
.test{
    flex-wrap: wrap;

}

.select-category {
    display: none;
}
a{
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
}

.line {
    grid-area: line;
    height: 1px;
    background-color: #4c4c4c;
}

.end-line {
    grid-area: end-line;
    height: 1px;
    background-color: #4c4c4c;
}

.footer-line {
    display: none;
}

/********/
/*HEADER*/
/********/
#menuToggle {

    display: none;
}

.shop-header {
    grid-area: shop-header;
}

.shop-header {
    background-color: #2f2f2f;
    height: 121px;
    display: grid;
    grid-template-rows: 60px 1px 60px;
    grid-template-columns: 5% 5% 10% 55% 20% 5%;
    grid-template-areas: ". . . auth-panel auth-panel ." "line line line line line line" ". logo-image logo-text nav-categories search-bar .";
    /*position: relative;*/
    border-bottom: 1px solid #4c4c4c;

}
.auth-panel {
    padding-top: 25px;
    grid-area: auth-panel;
    justify-self: end;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    font-size: 12px;
}

.auth-panel li {
    display: inline-block;
    padding-left: 8px;
}

.auth-panel a {
    text-decoration: none;
    color: #cccccc;

}

.nav-categories ul > li {
    display: inline-block;
    margin-top: 10px;
    flex-wrap: nowrap;
    height: 47px;
}

.logo-image {
    align-self: center;
    grid-area: logo-image;
}

.logo-text {
    grid-area: logo-text;
    font-size: 22px;
    align-self: center;
    font-weight: 700;
}

.logo-text a{
    text-decoration: none;
    color: inherit;
}

.nav-categories {
    grid-area: nav-categories;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.nav-categories li {
    margin: 25px;

}

.nav-categories a {
    text-decoration: none;
    color: #cccccc;
}

/**********DROPDOWN MENU***********/
#one-sub, #two-sub, #three-sub, #four-sub{
    margin-top: 18px;
    display: none;
    position:absolute;
    background: #2f2f2f;
    width: 100%;
    height: 260px;
    left: 0;
    right: 0;
}
/****HOVER LINES IN DROPDOWN MENU ****/
#one > a, #two > a, #three > a, #four> a {
    padding-bottom: 18px;
}
.one-active{
    border-bottom: 2px solid #1F7B11;
}
.two-active{
    border-bottom: 2px solid #39A3D8;
}
.three-active{
    border-bottom: 2px solid #FF120C;
}
.four-active{
    border-bottom: 2px solid #F6EA00;
}
/************************/
#one-sub li, #two-sub li{
    display: block;
}

.one-sub-menu-content{
    display: grid;
    grid-template-columns: repeat(3, [col-start] 270px [col-end]);
    grid-template-rows: repeat(3, [row-start] 70px [row-end]);
    justify-content: center;
    margin-left: 9%;
}

.first-sub-menu-cat{
    border-bottom: 1px solid #4c4c4c;
    width: 78%;
    display: flex;
    flex-direction: row;
}
.first-sub-menu-cat li, .second-sub-menu-cat li, .third-sub-menu-cat li, .fourth-sub-menu-cat li{
    margin: 0;
    font-size: 85%;
}

.first-sub-menu-cat img, .second-sub-menu-cat img, .third-sub-menu-cat img, .fourth-sub-menu-cat img{
    float: left;
    padding-right: 20px;
    padding-top: 17px;
}
.first-sub-menu-cat span, .second-sub-menu-cat span, .third-sub-menu-cat span, .fourth-sub-menu-cat span{
    overflow: hidden;
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}

.second-sub-menu-content, .fourth-sub-menu-content{
    display: grid;
    grid-template-rows: repeat(3, [row-start] 65px [row-end]);
    justify-content: center;
    margin-left: 4%;
}
.third-sub-menu-content{
    display: grid;
    grid-template-rows: repeat(4, [row-start] 65px [row-end]);
    justify-content: center;
    margin-left: 23%;
}
.fourth-sub-menu-content {
    margin-left: 32%;
}

.second-sub-menu-cat, .third-sub-menu-cat, .fourth-sub-menu-cat{
    width: 78%;
    border-bottom: 1px solid #4c4c4c;
    display: flex;
    flex-direction: row;
}
.first-sub-menu-cat:hover{
    border-bottom: 1px solid #1F7B11;
}
.second-sub-menu-cat:hover{
    border-bottom: 1px solid #39A3D8;
}
.third-sub-menu-cat:hover{
    border-bottom: 1px solid #FF120C;
}
.fourth-sub-menu-cat:hover{
    border-bottom: 1px solid #F6EA00;
}

/***********/

.search-bar {
    grid-area: search-bar;
    margin-top: 10px;
    background-color: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #4c4c4c;
    height: 40px;
    width: 190px;
    justify-self: end;
}
#search-input{
    background-color: inherit;
    border: none;
    height: 40px;
    padding-left: 5px;
    width: 75%;
    font-size: 110%;
}

#search-input textarea:focus, input:focus, button:focus{
    outline: none;
}

/**********/
/*INFO BAR*/
/**********/

.info-bar {
    grid-area: info-bar;
}

.info-bar {
    display: grid;
    grid-template-columns: 5% 25% 5% 35% 25% 5%;
    grid-template-areas: ". arrow-left info-bar-icon info-bar-text arrow-right . ";
    background-color: #191919;
    height: 60px;
    align-items: center;
}

.arrow-left {
    grid-area: arrow-left;
    justify-self: end;
}

.arrow-right {
    grid-area: arrow-right;
}

.info-bar-icon {
    grid-area: info-bar-icon;
    justify-self: center;
}

.info-bar-text {
    grid-area: info-bar-text;
    justify-self: center;
    font-family: Roboto, sans-serif;
    /*font-weight: 300;*/
    font-size: 15px;
    color: #cccccc;
}

/**********/
/*CONTENT*/
/**********/
.app-content {
    grid-area: app-content;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "categories";
}

.categories {
    display: grid;
    grid-area: categories;
    height: 350px;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #2f2f2f;
    grid-template-areas: "first-cat second-cat third-cat fourth-cat";
    width: 100%;
}

.first-cat {
    background-image: url('../images/photo/norma.jpg');
    grid-area: first-cat;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 2% 1fr 1fr 2%;
    grid-template-columns: 2% 98% 2%;
    grid-template-areas: " . . . " " . first-cat-info ." ". black-button ." ". . . ";

}

.first-cat-info {
    grid-area: first-cat-info;
    color: #000000;
    font-size: 130%;
    align-self: center;

}

.black-button {
    background: #000000;
    border: none;
    width: 180px;
    height: 50px;
    grid-area: black-button;
}

.second-cat {
    background-image: url('../images/photo/zagle.jpg');
    /*background-size: 103%, auto;*/
    background-repeat: no-repeat;
    grid-area: second-cat;
    display: grid;
    grid-template-rows: 2% 1fr 1fr 2%;
    grid-template-columns: 2% 93% 5%;
    grid-template-areas: " . . . " " . second-cat-info ." ". black-button ." ". . . ";

}

.second-cat-info {
    grid-area: second-cat-info;
    font-size: 130%;
    color: #000000;
    justify-self: end;

}

.second-cat > .black-button {
    justify-self: end;
}

.third-cat {
    background-image: url('../images/photo/narz.jpg');
    /*background-size: 103%, auto;*/
    background-repeat: no-repeat;
    grid-area: third-cat;
    display: grid;
    grid-template-rows: 2% 1fr 1fr 2%;
    grid-template-columns: 2% 93% 5%;
    grid-template-areas: " . . . " " . third-cat-info . " ". white-button ." ". . . ";
}

.third-cat-info {
    grid-area: third-cat-info;
    font-size: 130%;
    color: #FFFFFF;
    justify-self: end;
    align-self: end;
}

.white-button {
    grid-area: white-button;
    background: #FFFFFF;
    color: #000000;
    border: none;
    width: 180px;
    height: 50px;

}

.white-button a{
    color: #000000;
}

.white-button a:hover{
    color: #ff5f38;
}

.third-cat > .white-button {
    justify-self: end;
    align-self: center;
}

.fourth-cat {
    background-image: url('../images/photo/chemia.jpg');
    /*background-size: 103%, auto;*/
    background-repeat: no-repeat;
    grid-area: fourth-cat;
    display: grid;
    grid-template-rows: 2% 1fr 1fr 2%;
    grid-template-columns: 2% 93% 5%;
    grid-template-areas: " . . . " " . fourth-cat-info . " ". white-button ." ". . . ";

}

.fourth-cat-info {
    grid-area: fourth-cat-info;
    font-size: 130%;
    color: #FFFFFF;

}

.fourth-cat > .white-button {
    grid-area: white-button;

}

/**** INFO PANEL ****/
.info-panel {
    grid-area: info-panel;
}

.info-panel {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 70px 1fr 1fr;
    grid-template-areas: " . . . . ." " icon-percent first-info icon-question second-info . ";
    background-color: #2e3436;
}

.info-panel strong {
    font-size: 120%;
}

.first-info {
    grid-area: first-info;
    position: relative;
}
.first-info p, .second-info p{
    font-family: Sans-Serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
}

.second-info {
    grid-area: second-info;
}

.icon-percent {
    grid-area: icon-percent;
    position: relative;
}

.icon-percent img {
    position: absolute;
    right: 4%;
}

.icon-question {
    grid-area: icon-question;
    position: relative;
}

.icon-question img {
    position: absolute;
    right: 25%;
}

/********/
/*FOOTER*/
/********/
.shop-footer {
    grid-area: shop-footer;
    display: grid;
    grid-template-rows: 80px 50px 150px 1px 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: " . . . . " " . footer-header . . " " . first-col second-col . " " . line line ." " . footer-credits footer-policy . ";
    background-color: #000000;

}

.footer-header {
    grid-area: footer-header;
}

.first-col {
    grid-area: first-col;
    line-height: 30px;
}

.first-col ul {
    padding: 0;
}

.first-col a {
    text-decoration: none;
    color: #cccccc;
}

.second-col {
    grid-area: second-col;
    line-height: 30px;
}

.second-col a {
    text-decoration: none;
    color: #cccccc;
}

.second-col ul {
    padding: 0;
}

.footer-credits {
    padding-top: 5px;
    grid-area: footer-credits;
    font-size: 80%;
}

.footer-policy {
    padding-top: 5px;
    grid-area: footer-policy;
    font-size: 80%;
}

.footer-policy li {
    display: inline-block;
    padding-left: 8px;

}

.footer-policy ul {
    float: right;
}

/*********************************/
/*************CATEGORY************/
/*********************************/

#category {
    display: grid;
    height: auto;
    grid-template-columns: 5% 25% 70% 5%;
    grid-template-rows: 20px 70px 20px 100% 20px;
    background-color: #2f2f2f;
    grid-template-areas: ". . . ." ". cat category-name . " ". . . ." ". main-categories subcategories ." ". . . . ";
}

#main-categories a {
    text-decoration: none;
    color: inherit;
}

#category > p {
    grid-area: cat;
    align-self: center;
    font-size: 120%;
}

.category-name {
    grid-area: category-name;
    justify-self: start;
    align-self: center;
    font-size: 120%;
}

#main-categories {
    grid-area: main-categories;
    font-size: 120%;
    display: flex;
    flex-direction: column;
}

.single-category {
    border-bottom: 1px solid #4c4c4c;
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    grid-template-areas: 'category-photo top-category';
    width: 280px;
    height: 80px;
}

.green-under:hover{
    border-bottom: 1px solid #1F7B11;
}
.blue-under:hover{
    border-bottom: 1px solid #39A3D8;
}
.red-under:hover{
    border-bottom: 1px solid #FF120C;
}
.yellow-under:hover{
    border-bottom: 1px solid #F6EA00;
}
#top-category{
    grid-area: top-category;
    font-size: 85%;
}

#top-category p{
    padding-top: 10px;
    padding-left: 20px;
}
#category-photo{
    grid-area: category-photo;
    align-self: center;
}

#subcategories {
    grid-area: subcategories;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 200px;
    grid-column-gap: 15%;
    justify-content: center;
    align-items: end;
    /*font-family: "Roboto", sans-serif;*/
    /*font-size: 12px;*/
}

.single-subcategory {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas: "photo" "desc";
    border-bottom: 1px solid #4c4c4c;
    padding-top: 20px;
}

.single-subcategory img {
    grid-area: photo;
    margin-left: auto;
    margin-right:auto;
}
.desc {
    height: 100px;
    grid-area: desc;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    text-align: center;
}
.desc p{
    align-self: center;
}


@media only screen and (min-width: 2000px){
    .wrapper {
        display: grid;
        grid-template-rows: 151px 90px auto 300px 420px;
        grid-template-areas: "shop-header" "info-bar" "app-content" "info-panel" "shop-footer";
        color: #cccccc;
    }

    .shop-header {
        height: 151px;
        grid-template-rows: 75px 1px 75px;
        grid-template-columns: 5% 10% 10% 50% 20% 5%;
    }
    .logo-text{
        font-size: 150%;
    }
    .nav-categories{
        font-size: 140%;
        align-self: center;
    }
    .auth-panel{
        font-size: 140%;
    }
    .auth-panel li{
        margin-left: 10px;
    }

    .search-bar{
        width: 75%;
    }
    .logo-image img{
        width: 25%;
        height: auto;
    }

    .info-bar{
        height: 90px;
        font-size: 115%;
        line-height: 90px;
    }
    .arrow-left img, .arrow-right img{
        width: 110%;
        height: auto;
    }

    .info-bar-text{
        line-height: 90px;
        font-size: 115%;
    }


    /*CONTENT*/
    .categories{
        height: 360px;
    }
    .first-cat, .second-cat, .third-cat, .fourth-cat{
        background-size: 103%, auto;
        font-size: 120%;
    }
    .white-button , .black-button{
        width: 250px;
        height: 80px;
    }

    .info-panel{
        font-size: 130%;
        grid-template-columns: 20% 30% 70px 30% 20%;
        grid-template-rows: 35% 65%;
    }
    .icon-percent img{
        width:7%;
        height: auto;
    }
    .icon-question img{
        width:48%;
        height: auto;
    }
    .shop-footer{
        font-size: 150%;
        height: 420px;
        grid-template-rows: 15% 10% 65% 1px 10%;
    }
    .first-col li, .second-col li{
        padding-top: 15px;
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1310px) {
    .wrapper {
        display: grid;
        grid-template-rows: 122px 60px auto 300px 311px;
        grid-template-areas: "shop-header" "info-bar" "app-content" "info-panel" "shop-footer";
        color: #cccccc;
    }

    .shop-header {
        background-color: #2f2f2f;
        height: 122px;
        display: grid;
        grid-template-rows: 60px 1px 60px 1px;
        grid-template-columns: 2% 5% 13% 57% 20% 3%;
        grid-template-areas: ". . . auth-panel . " "line line line line line" ". logo-image logo-text nav-categories search-bar .";
        position: relative;
    }

    .auth-panel {
        font-size: 14px;
    }

    .auth-panel li {
        padding-left: 8px;
    }

    .auth-panel img {
        width: 25px;
        height: auto;
    }

    .nav-categories {
        font-size: 118%;
    }

    .search-bar {
        padding-left: 5%;
        margin-top: 10px;
        width: 80%;
    }

    .app-content {
        grid-area: app-content;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "categories";
    }

    .categories {
        display: grid;
        grid-area: categories;
        grid-template-rows: 50px 350px 50px 350px 50px;
        grid-template-columns: 7% 40% 50px 40% 13%;
        background-color: #2f2f2f;
        grid-template-areas: " . . . . ." " . first-cat . second-cat . " " . . . . ." " . third-cat . fourth-cat . ";
        width: 100%;
        height: auto;
    }

    .info-panel {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 15% 35% 50px 35% 15%;
        grid-template-areas: " . . . . ." " icon-percent first-info icon-question second-info . ";
        background-color: #2e3436;
    }

    .icon-percent img {
        position: absolute;
        right: 7%;
    }

    /*********************************/
    /*************CATEGORY************/
    /*********************************/
    #category {
        display: grid;
        height: auto;
        grid-template-columns: 3% 29% 65% 3%;
        grid-template-rows: 30px 30px 15px 100% 15px;
        background-color: #2f2f2f;
        grid-template-areas: ". . . ." ". cat category-name . " ". . . ." ". main-categories subcategories ." ". . . . ";

    }

    #main-categories a {
        text-decoration: none;
        color: inherit;
    }


    #category > p {
        font-size: 105%;
    }

    .category-name {
        font-size: 105%;
    }

    #main-categories {
        grid-area: main-categories;
        font-size: 120%;
    }

    .single-category {

        width: 80%;
    }

    .single-category p {
        font-size: 95%;
    }

    .single-category img {
        width: 120%;
        height: auto;
        padding-right: 35px;
        float: left;
    }

    #subcategories {
        grid-auto-rows: 200px;
    }

    .desc p{
        margin-top: auto;
        margin-bottom: auto;
        font-size: 14px;
    }

    .single-subcategory img {
        float: left;
        padding-top: 5px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {

    .wrapper {
        display: grid;
        grid-template-rows: 122px 60px auto 300px 311px;
        grid-template-areas: "shop-header" "info-bar" "app-content" "info-panel" "shop-footer";
        color: #cccccc;
    }
    .app-content{
        height: auto;
    }

    .shop-header {
        background-color: #2f2f2f;
        height: 122px;
        display: grid;
        grid-template-rows: 60px 1px 60px 1px;
        grid-template-columns: 2% 5% 10% 64% 16% 3%;
        grid-template-areas: ". . . auth-panel . " "line line line line line" ". logo-image logo-text nav-categories search-bar .";
        position: relative;
    }

    .auth-panel li {
        padding-left: 1px;
    }

    .auth-panel img {
        width: 25px;
        height: auto;
    }
    .auth-panel span{
        display: none;
    }

    .nav-categories {
        font-size: 100%;
    }

    .search-bar {
        padding-left: 5%;
        margin-top: 10px;
        width: 80%;
    }
    #search-input{
        width: 58%;
    }

    .app-content {
        grid-area: app-content;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "categories";
    }

    .categories {
        display: grid;
        grid-area: categories;
        grid-template-rows: 50px 350px 50px 350px 50px;
        grid-template-columns: 7% 40% 50px 40% 13%;
        background-color: #2f2f2f;
        grid-template-areas: " . . . . ." " . first-cat . second-cat . " " . . . . ." " . third-cat . fourth-cat . ";
        width: 100%;
        height: auto;
    }

    .info-panel {
        display: grid;
        grid-template-rows: 35% 65%;
        grid-template-columns: 15% 35% 50px 35% 15%;
        grid-template-areas: " . . . . ." " icon-percent first-info icon-question second-info . ";
        background-color: #2e3436;

    }

    .icon-percent img {
        position: absolute;
        right: 7%;
    }

    .logo-text {
        font-size: 118%;
    }

    .shop-footer ul {
        font-size: 115%;
    }

    .footer-header {
        font-size: 120%;
    }

    .footer-line {
        display: block;
    }

    .shop-footer {
        grid-area: shop-footer;
        display: grid;
        grid-template-rows: 7% 8% 71% 1px 9%;
        grid-template-columns: 18% 1fr 5% 1fr 16%;
        grid-template-areas: " . . . . . " " . footer-header . . . " " . first-col . second-col . " " . footer-line footer-line  footer-line . " " . footer-credits . footer-policy . ";
        background-color: #000000;
    }

    .first-col, .second-col {
        align-self: center;
    }

    .footer-line {
        display: block;
        grid-area: footer-line;
        height: 1px;
        background-color: #4c4c4c;
    }

    .footer-policy {
        font-size: 70%;
    }

    /*********************************/
    /*************CATEGORY************/
    /*********************************/
    #category {
        display: grid;
        grid-template-columns: 3% 29% 65% 3%;
        grid-template-rows: 20px 40px 5px 100% 20px;
        background-color: #2f2f2f;
        grid-template-areas: ". . . ." ". cat category-name . " ". . . ." ". main-categories subcategories ." ". . . . ";

    }

    #main-categories a {
        text-decoration: none;
        color: inherit;
    }



    #category > p {
        font-size: 105%;
    }

    .category-name {
        font-size: 105%;
    }

    .single-category {
        width: 82%;
        height: 70px;
        grid-template-columns: 100%;
        grid-template-areas: 'top-category';
    }

    .single-category p {
        font-size: 92%;

    }

    .single-category img {
        width: 45%;
        height: auto;
        padding-right: 35px;
        float: left;
    }
    #top-category{
        padding-left: 0;
        font-size: 100%;
    }
    #top-category p{
        padding-top: 18px;
    }

    #subcategories {
        align-items: center;
        grid-template-columns: repeat(3, 23%);
        grid-column-gap: 8%;
        grid-auto-rows: 200px;
    }
    .single-subcategory{
        height: 200px;
    }
    .desc{
        height: 70px;
        margin-top: 10%;
    }

    .desc p{
        margin-top: auto;
        margin-bottom: auto;
        font-size: 13px;
    }


    .single-subcategory img {
        float: left;
        padding-top: 5px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .wrapper {
        display: grid;
        grid-template-rows: 122px 60px auto 250px 311px;
        grid-template-areas: "shop-header" "info-bar" "app-content" "info-panel" "shop-footer";
        color: #cccccc;
    }

    .shop-header {
        background-color: #2f2f2f;
        height: 122px;
        display: grid;
        grid-template-rows: 60px 1px 60px 1px;
        grid-template-columns: 2% 5% 13% 74% 5%;
        grid-template-areas: ". . . auth-panel . " "line line line line line line" ". logo-image logo-text nav-categories  .";
        position: relative;
    }

    .auth-panel {
        font-size: 85%;
    }

    .auth-panel li {
        padding-left: 0;
    }

    .auth-panel img {
        width: 25px;
        height: auto;
    }
    .auth-panel span{
        display:none;
    }

    .nav-categories {
        font-size: 94%;
    }
    .nav-categories li{
        margin: 20px;
    }

    .search-bar {
        display: none;
    }


    .app-content {
        grid-area: app-content;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "categories";
    }

    .categories {
        display: grid;
        grid-area: categories;
        grid-template-rows: 50px 250px 20px 250px 50px;
        grid-template-columns: 7% 40% 50px 40% 13%;
        background-color: #2f2f2f;
        grid-template-areas: " . . . . ." " . first-cat . second-cat . " " . . . . ." " . third-cat . fourth-cat . ";
        width: 100%;
        height: auto;
    }

    .first-cat, .second-cat, .third-cat, .fourth-cat {
        background-size: 101%, auto;
        display: grid;
        grid-template-rows: 2% 55% 61% 2%;
        grid-template-columns: 5% 90% 5%;

    }

    .first-cat-info, .second-cat-info, .third-cat-info, .fourth-cat-info {
        font-size: 100%;
        color: #020404;
        width: 250px;
        height: 80px;
        background-color: #b5babd;
        text-align: center;
        border-radius: 3px;
        opacity: 0.7;
        justify-self: center;
        align-self: start;
    }

    .first-cat-info p {
        margin-top: 8%;
    }

    .first-cat {
        grid-template-areas: "..." ". first-cat-info ." " . black-button .";
    }

    .first-cat .black-button, .second-cat .black-button {
        justify-self: center;
        font-size: 93%;
    }

    .third-cat .white-button, .fourth-cat .white-button {
        justify-self: center;
        font-size: 93%;
    }

    .third-cat > .white-button {
        align-self: start;
    }

    .second-cat {
        grid-template-areas: "..." ". second-cat-info ." " . black-button .";
        font-size: 89%;
    }

    .third-cat {
        grid-template-areas: "..." ". third-cat-info ." " . white-button .";
    }

    .third-cat-info p {
        margin-top: 13%;
    }

    .fourth-cat {
        grid-template-areas: "..." ". fourth-cat-info ." " . white-button .";
    }

    .fourth-cat-info p {
        margin-top: 8%;
    }

    .info-panel {
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-columns: 15% 35% 50px 35% 15%;
        grid-template-areas: " . . . . ." " icon-percent first-info icon-question second-info . ";
        background-color: #2e3436;
        font-size: 95%;

    }

    .icon-percent img {
        position: absolute;
        right: 7%;
    }

    .logo-text {
        font-size: 110%;
        justify-self: end;
    }

    .shop-footer ul {
        font-size: 115%;
    }

    .footer-header {
        font-size: 120%;
    }

    .footer-line {
        display: block;
    }

    .shop-footer {
        grid-area: shop-footer;
        display: grid;
        grid-template-rows: 7% 8% 71% 1px 9%;
        grid-template-columns: 18% 1fr 5% 1fr 16%;
        grid-template-areas: " . . . . . " " . footer-header . . . " " . first-col . second-col . " " . footer-line footer-line  footer-line . " " . footer-credits . footer-policy . ";
        background-color: #000000;
    }

    .first-col, .second-col {
        align-self: center;
    }

    .footer-line {
        display: block;
        grid-area: footer-line;
        height: 1px;
        background-color: #4c4c4c;
    }

    .footer-policy {
        font-size: 70%;
    }

    /*********************************/
    /*************CATEGORY************/
    /*********************************/
    #category {
        display: grid;
        height: auto;
        grid-template-columns: 3% 35% 59% 3%;
        background-color: #2f2f2f;
        grid-template-areas: ". . . ." ". cat category-name . " ". . . ." ". main-categories subcategories ." ". . . . ";

    }

    #main-categories a {
        text-decoration: none;
        color: inherit;
    }


    #category > p {
        font-size: 98%;
    }

    .category-name {
        font-size: 105%;
    }

    #main-categories {
        grid-area: main-categories;
        font-size: 105%;
    }

    .single-category {
        width: 80%;
        height: 60px;
        grid-template-columns: 100%;
        grid-template-areas: 'top-category';
        align-content: center;

    }

    .single-category p {
        font-size: 110%;
    }

    .single-category img {
        display: none;
    }

    #top-category{
        width: 100%;
        padding-left: 0;
    }

    #subcategories {
        grid-template-columns: repeat(3, 25%);
        grid-column-gap: 5%;
        grid-auto-rows: 200px;
    }

    .desc p{
        margin-top: auto;
        margin-bottom: auto;
        font-size: 13px;
    }

    .single-subcategory img {
        float: left;
        padding-top: 5px;
    }

    #subcategories {
        align-items: center;
        grid-template-columns: repeat(2, 35%);
        grid-column-gap: 15%;
        grid-auto-rows: 200px;
    }
    .single-subcategory{
        height: 200px;
    }
    .desc{
        height: 70px;
        margin-top: 10%;
    }

    .desc p{
        margin-top: auto;
        margin-bottom: auto;
        font-size: 13px;
    }


    .single-subcategory img {
        float: left;
        padding-top: 5px;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .wrapper {
        display: grid;
        grid-template-rows: 80px auto 300px 250px;
        grid-template-areas: "shop-header" "app-content" "info-panel" "shop-footer";
    }

    .nav-categories, .auth-panel, .search-bar, .line, .info-bar {
        display: none;
    }

    /*************/
    /****HEADER***/
    /*************/
    .shop-header {
        grid-area: shop-header;
        background-color: #2f2f2f;
        height: 80px;
        display: grid;
        grid-template-rows: 100% 1px;
        grid-template-columns: 2% 8% 30% 58% 2%;
        grid-template-areas: " . logo-image logo-text burg-men . " "end-line end-line end-line end-line end-line";
        position: relative;
    }

    .logo-image {
        width: 15%;
        height: auto;
        align-self: center;
    }

    .logo-text {
        justify-self: center;
        align-self: center;
        font-size: 115%;
        /*margin-bottom: 8px;*/
    }

    /*************/
    /*BURGER MENU*/
    /*************/
    #menuToggle a {
        text-decoration: none;
        color: #cdcdcd;
        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: tomato;
    }

    #menuToggle {
        grid-area: burg-men;
        display: block;
        position: relative;
        top: 28px;
        justify-self: end;
        align-self: start;

        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 33px;
        height: 32px;
        position: absolute;
        top: -7px;
        right: 0;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
     * Hamburger
     */
    #menuToggle span {
        grid-area: menu-bur;
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        margin-right: 0;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0 0;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #4c4c4c;
    }

    /*
     * hide middle line
     */
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 320px;
        margin: -50px 0 0 -280px;
        padding-top: 15px;
        padding-bottom: 15px;
        opacity: 0.96;

        background: #2f2f2f;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0 0;
        transform: translate(0, -100%);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 120%;
    }

    /*
     * slide from top
     */
    #menuToggle input:checked ~ ul {
        transform: none;
    }

    .app-content {
        grid-area: app-content;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "categories";
    }

    .categories {
        display: grid;
        grid-area: categories;
        height: 1050px;
        grid-template-rows: 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px;
        grid-template-columns: 18% 70% 15%;
        background-color: #2f2f2f;
        grid-template-areas: " . . . " " . first-cat . " " . . . " " . second-cat . " " . . . " " . third-cat . " " . . . " ". fourth-cat . " " . . . ";
        width: 100%;
    }

    .first-cat, .second-cat, .third-cat, .fourth-cat {
        background-size: 101%, auto;
        display: grid;
        grid-template-rows: 5% 70% 20% 5%;
        grid-template-columns: 5% 90% 5%;

    }

    .first-cat-info, .second-cat-info, .third-cat-info, .fourth-cat-info {
        font-size: 120%;
        color: #020404;
        width: 300px;
        height: 100px;
        background-color: #b5babd;
        text-align: center;
        border-radius: 3px;
        opacity: 0.7;
        justify-self: center;
        align-self: center;
    }

    .first-cat-info p {
        margin-top: 8%;
    }

    .first-cat {
        grid-template-areas: "..." ". first-cat-info ." " . black-button .";
    }

    .first-cat .black-button, .second-cat .black-button {
        justify-self: center;
    }

    .third-cat .white-button, .fourth-cat .white-button {
        justify-self: center;
    }

    .second-cat {
        grid-template-areas: "..." ". second-cat-info ." " . black-button .";
        font-size: 90%;
    }

    .third-cat {
        grid-template-areas: "..." ". third-cat-info ." " . white-button .";
    }

    .third-cat-info p {
        margin-top: 13%;
    }

    .fourth-cat {
        grid-template-areas: "..." ". fourth-cat-info ." " . white-button .";
    }

    .fourth-cat-info p {
        margin-top: 8%;
    }

    /***INFO PANEL***/
    .info-panel {
        display: grid;
        grid-template-rows: 10% 1fr 1fr;
        grid-template-columns: 10% 30px 5% 75% 10%;
        grid-template-areas: ". . . . . " ". icon-percent . first-info . " ". icon-question . second-info . ";
        background-color: #2e3436;
    }

    .info-panel {
        font-size: 97%;
    }

    .icon-percent img, .icon-question img {
        position: absolute;
        right: 7%;
        width: 22px;
        height: auto;
    }

    .shop-footer {
        grid-area: shop-footer;
        display: grid;
        height: 250px;
        grid-template-rows: 7% 8% 5% 62% 1px 12% 5%;
        grid-template-columns: 18% 1fr 1fr 18%;
        grid-template-areas: " . . . . " " . footer-header . . " " . . . ." " . first-col second-col . " " . footer-line footer-line . " " . footer-credits footer-policy . " " . . . . ";
        background-color: #000000;

    }

    .footer-header {
        font-size: 115%;
    }

    .footer-credits, .footer-policy {

        font-size: 69%;
    }

    .footer-policy li {
        padding-left: 6px;

    }

    .first-col, .second-col {
        font-size: 100%;
    }

    .footer-line {
        display: block;
        grid-area: footer-line;
        height: 1px;
        background-color: #4c4c4c;
    }

    #category {
        display: grid;
        height: auto;
        grid-template-columns: 2% 94% 4%;
        grid-template-rows: 15px 3% 15px 94% 80px;
        background-color: #2f2f2f;
        grid-template-areas: ". . ." ". select-category . " ". . ." ". subcategories ." ". . . ";

    }

    .select-category {
        grid-area: select-category;
        display: block;
    }

    select {
        background-color: inherit;
    }

    #subcategories {
        grid-template-columns: repeat(3, 26%);
        grid-column-gap: 7%;
        grid-auto-rows: 180px;
        align-items: center;
    }
    .single-subcategory{
        grid-template-rows: 55% 45%;
    }

    .desc {
        height: 70px;
        font-size: 12px;
        margin-top:10px;
    }


    .single-subcategory img {
       width: 115px;
    }

    .single-category img, #main-categories, .cat, .category-name, #category > p {
        display: none;
    }

}

@media only screen and (min-width: 320px) and (max-width: 479px) {

    .wrapper {
        display: grid;
        grid-template-rows: 70px auto 230px 270px;
        grid-template-areas: "shop-header" "app-content" "info-panel" "shop-footer";
    }

    .nav-categories, .auth-panel, .search-bar, .line, .info-bar {
        display: none;
    }

    /*************/
    /****HEADER***/
    /*************/
    .shop-header {
        grid-area: shop-header;
        background-color: #2f2f2f;
        height: 70px;
        display: grid;
        grid-template-columns: 2% 8% 30% 58% 2%;
        grid-template-rows: 100% 1px;
        grid-template-areas: " .logo-image logo-text burg-men . " "end-line end-line end-line end-line end-line";
        position: relative;
    }

    .logo-image {
        width: 15%;
        height: auto;
        align-self: center;
    }

    .logo-text {
        justify-self: end;
        align-self: center;
    }

    /*************/
    /*BURGER MENU*/
    /*************/
    #menuToggle a {
        text-decoration: none;
        color: #cdcdcd;
        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: tomato;
    }

    #menuToggle {
        grid-area: burg-men;
        display: block;
        position: relative;
        top: 23px;
        justify-self: end;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 33px;
        height: 32px;
        position: absolute;
        top: -7px;
        right: 0;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
     * Hamburger
     */
    #menuToggle span {
        grid-area: menu-bur;
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        margin-right: 0;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0 0;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #4c4c4c;
    }

    /*
     * hide middle line
     */
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 320px;
        margin: -50px 0 0 -280px;
        padding-top: 20px;
        padding-bottom: 15px;
        opacity: 0.96;

        background: #2f2f2f;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0 0;
        transform: translate(0, -100%);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 120%;
    }

    /*
     * slide from top
     */
    #menuToggle input:checked ~ ul {
        transform: none;
    }

    /*************/
    /***CONTENT***/
    /*************/
    .app-content {
        grid-area: app-content;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "categories";
    }

    .categories {
        display: grid;
        grid-area: categories;
        grid-template-rows: 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px;
        grid-template-columns: 2% 96% 2%;
        background-color: #2f2f2f;
        grid-template-areas: " . . . " " . first-cat . " " . . . " " . second-cat . " " . . . " " . third-cat . " " . . . " ". fourth-cat . " " . . . ";
        width: 100%;
        height: 1075px;
    }

    .first-cat, .second-cat, .third-cat, .fourth-cat {
        background-size: 450px, auto;
        display: grid;
        grid-template-rows: 5% 70% 20% 5%;
        grid-template-columns: 5% 90% 5%;

    }

    .first-cat-info, .second-cat-info, .third-cat-info, .fourth-cat-info {
        font-size: 120%;
        color: #020404;
        width: 300px;
        height: 100px;
        background-color: #b5babd;
        text-align: center;
        border-radius: 3px;
        opacity: 0.7;
        justify-self: center;
        align-self: center;
    }

    .first-cat-info p {
        margin-top: 8%;
    }

    .first-cat {
        grid-template-areas: "..." ". first-cat-info ." " . black-button .";
    }

    .first-cat .black-button, .second-cat .black-button {
        justify-self: center;
    }

    .third-cat .white-button, .fourth-cat .white-button {
        justify-self: center;
    }

    .second-cat {
        grid-template-areas: "..." ". second-cat-info ." " . black-button .";
        font-size: 90%;
    }

    .third-cat {
        grid-template-areas: "..." ". third-cat-info ." " . white-button .";
    }

    .third-cat-info p {
        margin-top: 13%;
    }

    .fourth-cat {
        grid-template-areas: "..." ". fourth-cat-info ." " . white-button .";
    }

    .fourth-cat-info p {
        margin-top: 8%;
    }

    /***INFO PANEL***/
    .info-panel {
        display: grid;
        grid-template-rows: 30px 1fr 1fr;
        grid-template-columns: 10% 30px 84% 6%;
        grid-template-areas: ". . . ." ". icon-percent first-info . " ". icon-question second-info . ";
        background-color: #2e3436;
    }

    .first-info p, .second-info p{
        font-size: 11px;
    }
    .info-panel strong {
        font-size: 12px;
    }

    .icon-percent img, .icon-question img {
        position: absolute;
        left: 7%;
        width: 20px;
        height: auto;
    }

    /*************/
    /***FOOTER****/
    /*************/
    .shop-footer {
        grid-area: shop-footer;
        display: grid;
        grid-template-rows: 7% 8% 5% 61% 1px 9% 9%;
        grid-template-columns: 20px 1fr 1fr 20px;
        grid-template-areas: " . . . . " " . footer-header . . " " . . . ." " . first-col second-col . " " . footer-line footer-line . " " . footer-credits footer-credits . " " . footer-policy footer-policy . ";
        background-color: #000000;
    }

    .footer-header {
        font-size: 115%;
    }

    .footer-credits, .footer-policy {
        justify-self: end;
        font-size: 65%;
    }

    .footer-policy li {
        padding-left: 20px;
    }

    .first-col, .second-col {
        font-size: 80%;
    }

    .footer-line {
        display: block;
        grid-area: footer-line;
        height: 1px;
        background-color: #4c4c4c;
    }

    #category {
        display: grid;
        height: auto;
        grid-template-columns: 2% 94% 4%;
        grid-template-rows: 15px 3% 15px 94% 80px;
        background-color: #2f2f2f;
        grid-template-areas: ". . ." ". select-category . " ". . ." ". subcategories ." ". . . ";

    }

    .select-category {
        grid-area: select-category;
        display: block;
    }

    .form-control {
        background-color: #2f2f2f;
        width: 100%;
    }

    .single-category img, #main-categories, .cat, .category-name, #category > p {
        display: none;
    }

    #subcategories {
        grid-template-columns: repeat(2, 40%);
        grid-column-gap: 10%;

        grid-auto-rows: 200px;
    }

    .single-subcategory img {
        width: 90px;
    }


}
@media only screen and (max-width: 320px) {

    .wrapper {
        display: grid;
        grid-template-rows: 70px auto 230px 270px;
        grid-template-areas: "shop-header" "app-content" "info-panel" "shop-footer";
    }

    .nav-categories, .auth-panel, .search-bar, .line, .info-bar {
        display: none;
    }

    /*************/
    /****HEADER***/
    /*************/
    .shop-header {
        grid-area: shop-header;
        background-color: #2f2f2f;
        height: 70px;
        display: grid;
        grid-template-columns: 2% 8% 30% 58% 2%;
        grid-template-rows: 100% 1px;
        grid-template-areas: " .logo-image logo-text burg-men . " "end-line end-line end-line end-line end-line";
        position: relative;
    }

    .logo-image {
        width: 15%;
        height: auto;
        align-self: center;
    }

    .logo-text {
        justify-self: end;
        align-self: center;
        font-size: 14px;
        font-weight: 700;
    }

    /*************/
    /*BURGER MENU*/
    /*************/
    #menuToggle a {
        text-decoration: none;
        color: #cdcdcd;
        transition: color 0.3s ease;
    }

    #menuToggle a:hover {
        color: tomato;
    }

    #menuToggle {
        grid-area: burg-men;
        display: block;
        position: relative;
        top: 23px;
        justify-self: end;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 33px;
        height: 32px;
        position: absolute;
        top: -7px;
        right: 0;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
     * Hamburger
     */
    #menuToggle span {
        grid-area: menu-bur;
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        margin-right: 0;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0 0;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #4c4c4c;
    }

    /*
     * hide middle line
     */
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 320px;
        margin: -50px 0 0 -280px;
        padding-top: 20px;
        padding-bottom: 15px;
        opacity: 0.96;

        background: #2f2f2f;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0 0;
        transform: translate(0, -100%);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 120%;
    }

    /*
     * slide from top
     */
    #menuToggle input:checked ~ ul {
        transform: none;
    }

    /*************/
    /***CONTENT***/
    /*************/
    .app-content {
        grid-area: app-content;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: "categories";
    }

    .categories {
        display: grid;
        grid-area: categories;
        grid-template-rows: 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px;
        grid-template-columns: 2% 96% 2%;
        background-color: #2f2f2f;
        grid-template-areas: " . . . " " . first-cat . " " . . . " " . second-cat . " " . . . " " . third-cat . " " . . . " ". fourth-cat . " " . . . ";
        width: 100%;
        height: 1075px;
    }

    .first-cat, .second-cat, .third-cat, .fourth-cat {
        background-size: 450px, auto;
        display: grid;
        grid-template-rows: 5% 70% 20% 5%;
        grid-template-columns: 5% 90% 5%;

    }

    .first-cat-info, .second-cat-info, .third-cat-info, .fourth-cat-info {
        font-size: 95%;
        color: #020404;
        width: 220px;
        height: 100px;
        background-color: #b5babd;
        text-align: center;
        border-radius: 3px;
        opacity: 0.7;
        justify-self: center;
        align-self: center;
    }

    .first-cat-info p {
        margin-top: 8%;
    }

    .first-cat {
        grid-template-areas: "..." ". first-cat-info ." " . black-button .";
    }

    .first-cat .black-button, .second-cat .black-button {
        justify-self: center;
    }

    .third-cat .white-button, .fourth-cat .white-button {
        justify-self: center;
    }

    .second-cat {
        grid-template-areas: "..." ". second-cat-info ." " . black-button .";
        font-size: 90%;
    }

    .third-cat {
        grid-template-areas: "..." ". third-cat-info ." " . white-button .";
    }

    .third-cat-info p {
        margin-top: 13%;
    }

    .fourth-cat {
        grid-template-areas: "..." ". fourth-cat-info ." " . white-button .";
    }

    .fourth-cat-info p {
        margin-top: 8%;
    }

    /***INFO PANEL***/
    .info-panel {
        display: grid;
        grid-template-rows: 30px 1fr 1fr;
        grid-template-columns: 10% 30px 84% 6%;
        grid-template-areas: ". . . ." ". icon-percent first-info . " ". icon-question second-info . ";
        background-color: #2e3436;
        font-size: 11px;
    }

    .first-info p, .second-info p{
        font-size: 9px;
    }

    .icon-percent img, .icon-question img {
        position: absolute;
        left: 7%;
        width: 17px;
        height: auto;
    }

    /*************/
    /***FOOTER****/
    /*************/
    .shop-footer {
        grid-area: shop-footer;
        display: grid;
        grid-template-rows: 7% 8% 5% 61% 1px 9% 9%;
        grid-template-columns: 20px 1fr 1fr 20px;
        grid-template-areas: " . . . . " " . footer-header . . " " . . . ." " . first-col second-col . " " . footer-line footer-line . " " . footer-credits footer-credits . " " . footer-policy footer-policy . ";
        background-color: #000000;
    }

    .footer-header {
        font-size: 105%;
    }

    .footer-credits, .footer-policy {
        justify-self: end;
        font-size: 65%;
    }

    .footer-policy li {
        padding-left: 20px;
    }

    .first-col, .second-col {
        font-size: 10px;
    }

    .footer-line {
        display: block;
        grid-area: footer-line;
        height: 1px;
        background-color: #4c4c4c;
    }

    #category {
        display: grid;
        height: auto;
        grid-template-columns: 2% 94% 4%;
        grid-template-rows: 15px 3% 15px 94% 80px;
        background-color: #2f2f2f;
        grid-template-areas: ". . ." ". select-category . " ". . ." ". subcategories ." ". . . ";

    }

    .select-category {
        grid-area: select-category;
        display: block;
    }

    select {
        background-color: inherit;
    }

    .form-control {
        background-color: #2f2f2f;
        width: 100%;
    }

    .single-category img, #main-categories, .cat, .category-name, #category > p {
        display: none;
    }

    #subcategories {
        grid-template-columns: repeat(1, 85%);
        grid-column-gap: 5%;
        grid-auto-rows: 200px;
    }

    .single-subcategory img {
        width: 80px;
    }
}


