.wrapper{
    display: grid;
    grid-template-rows: 122px 60px 600px 311px;
    grid-template-areas:
    "shop-header"
    "info-bar"
    "app-content"
    "shop-footer";
    color: #cccccc;
}
ul{
    list-style-type: none;
}

.line{
    grid-area: line;
    height: 1px;
    background-color: #4c4c4c;
}

/********/
/*HEADER*/
/********/
.shop-header{
    grid-area: shop-header;
}
.shop-header{
    background-color: #2f2f2f;
    height: 122px;
    display: grid;
    grid-template-rows: 60px 1px 60px 1px;
    grid-template-columns: 5% 20% 45% 25% 5%;
    grid-template-areas:
    ". . . auth-panel ."
    "line line line line line"
    ". logo nav-categories search-bar .";
    position: relative;
}

.auth-panel{
    grid-area: auth-panel;
    padding-top: 10px;
    padding-left: 10%;
}
.auth-panel a{
    text-decoration: none;
    color: #cccccc;
}

.shop-header ul > li{
    display: inline-block;
    margin-right: 25px;
    margin-top: 10px;
}

.logo{
    grid-area: logo;
}

.logo img{
    padding-right: 40px;
    margin-top: 10px;
}

.nav-categories{
    grid-area: nav-categories;
    /*margin-left: 2%;*/
    margin-top: 10px;
}
.search-bar{
    grid-area: search-bar;
    padding-left: 10%;
    margin-top: 10px;
}
.nav-categories a{
    text-decoration: none;
    color: #cccccc;
    margin-left: 20px;
}

/**********/
/*INFO BAR*/
/**********/

.info-bar {
    grid-area: info-bar;
}
.info-bar{
    background-color: #191919;
    height: 60px;
    line-height: 55px;
}

.arrow-left{
    position:absolute;
    left: 35%;
}

.arrow-right{
    position:absolute;
    right: 35%;
}

.info-bar-content{
    width: 50%;
    margin: 0 auto;
    padding: 40px 0;


}
.info-bar-icon{
    position: absolute;
    left: 38%;
}
.info-bar-text{
    position:absolute;
    left: 40%;
    right: 35%;
    text-align: center;
    line-height: 55px;

}
/**********/
/*CONTENT*/
/**********/
.app-content{
    grid-area: app-content;
    display: grid;
    grid-template-rows: 350px 250px;
    grid-template-areas:
        "categories"
        "info-panel";
}
.categories{
    background-color: #2f2f2f;

}
.categories img{
    float: left;
    width: 25%; /*rozmiar do zmiany po dodaniu plików z bazy */
    height: auto;
}
.info-panel{
    grid-area: info-panel;
}
.info-panel{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
            " . . . ."
            " icon-percent first-info second-info . ";
    background-color: #2e3436;
}
.info-panel strong{
    font-size: 120%;
}

.content-wrapper{
    grid-area: content-wrapper;
}

.first-info{
    grid-area: first-info;
    position: relative;
}

.second-info{
    grid-area: second-info;
}
.icon-percent{
    grid-area: icon-percent;
    position: relative;
}
.icon-percent img{
    position: absolute;
    right: 4%;
}
.icon-question img{
    position: absolute;
    right: 4%;
}
/********/
/*FOOTER*/
/********/
.shop-footer{
    grid-area: shop-footer;
    display: grid;
    grid-template-rows: 80px 50px 150px 1px 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        " . . . . "
        " . footer-header . . "
        " . first-col second-col . "
        " . line line ."
        " . footer-credits footer-policy . ";
    background-color: #000000;

}
.footer-header{
    grid-area: footer-header;
}

.first-col{
    grid-area: first-col;
    line-height: 30px;
}
.first-col ul{
    padding: 0;
}
.first-col a{
    text-decoration: none;
    color: #cccccc;
}
.second-col{
    grid-area: second-col;
    line-height: 30px;
}
.second-col a{
    text-decoration: none;
    color: #cccccc;
}
.second-col ul{
    padding: 0;
}
.footer-credits{
    padding-top: 5px;
    grid-area: footer-credits;
    font-size: 80%;
}

.footer-policy{
    padding-top: 5px;
    grid-area: footer-policy;
    font-size: 80%;
}

.footer-policy li{
    display: inline-block;
    padding-left: 8px;

}
.footer-policy ul{
    float: right;
}


/*@media only screen and (max-width: 1455px) {*/
    /*.shop-header{*/
        /*background-color: #2f2f2f;*/
        /*height: 122px;*/
        /*display: grid;*/
        /*grid-template-rows: 60px 1px 60px 1px;*/
        /*grid-template-columns: 1% 18% 55% 25% 1%;*/
        /*grid-template-areas:*/
                /*". . . auth-panel ."*/
                /*"line line line line line"*/
                /*". logo nav-categories search-bar .";*/
        /*position: relative;*/
    /*}*/
/*}*/



